@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.app {
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 1060px;
  margin: 90px auto;
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  border: #BDBDBD 2px solid;
}

.main .txt-h1 {
  font-size: 24px;
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
}

.main .txt-h1::after {
  content: '';
  display: block;
  width: 650px;
  height: 2px;
  background-color: #BDBDBD;
  margin: 35px auto;
}

.main .cont-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .cont-menu .btn-menu {
  text-decoration: none;
  color: black;
}

.main .cont-menu .btn-menu.now {
  color: black;
  font-weight: 700;
}

.main .movie-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #BDBDBD;
  margin: 27px 26px 30px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 26px 25px 30px;
  gap: 20px;
}

.main .movie-list li {
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.main .movie-list li .movie-detail {
  padding: 0 20px;
}

.main .movie-list li .movie-detail img {
  margin-top: 19px;
  width: 180px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 250px;
}

.main .movie-list li .movie-detail .movie-title {
  font-size: 16px;
  margin: 11px 0 12px;
  font-weight: 900;
}

.main .movie-list li .movie-detail .list-info {
  font-size: 13px;
  line-height: 1.6rem;
  margin-bottom: 18px;
}

.main .movie-list li .movie-detail .list-info .item-star {
  float: right;
  margin-top: -27px;
}

.main .movie-list li .movie-detail .list-info .item-star dd {
  float: right;
}

.main .movie-list li .movie-detail .list-info dt {
  display: inline-block;
  color: #828282;
  padding-right: 5px;
  float: left;
}

.main .movie-list li .movie-detail .list-info dd:nth-child(4)::before,
.main .movie-list li .movie-detail .list-info .item-star::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -3px;
  margin-right: 3px;
}

.main .movie-list li .btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.main .movie-list li .btn-cont .movie-btn {
  font-size: 14px;
  width: 100%;
  padding: 9px 24px 12px;
  font-weight: 500;
  background-color: #F2F2F2;
  border: none;
  border-top: 1px solid #BDBDBD;
}

.main .movie-list li .btn-cont .movie-btn.trailer {
  border-left: 1px solid #BDBDBD;
}

.main .movie-list li .btn-cont .movie-btn.trailer::before {
  display: inline-block;
  content: '';
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  vertical-align: -3px;
}

.footer {
  width: 100%;
  background-color: #F2F2F2;
}

.footer .cont-foot {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.footer .cont-foot .foot-hea .foot-title {
  font-size: 22px;
  font-weight: 700;
  margin: 53px 0px 42px;
  display: inline-block;
}

.footer .cont-foot .foot-hea .foot-icon {
  float: right;
  margin: 53px 0px 42px;
}

.footer .cont-foot .foot-hea .foot-icon img {
  width: 22px;
  padding-left: 20px;
}

.footer .cont-foot .foot-hea .foot-icon img:nth-last-child(1) {
  margin-right: 10px;
}

.footer .cont-foot .foot-hea::after {
  content: '';
  display: block;
  width: 1189px;
  height: 2px;
  background-color: #C4C4C4;
}

.footer .cont-foot .foot-dl {
  margin: 36px 0;
  overflow: hidden;
}

.footer .cont-foot .foot-dl dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .cont-foot .foot-dl dl dt {
  font-weight: 700;
  padding-right: 4px;
}

.footer .cont-foot .foot-dl dl dt:nth-child(2):before,
.footer .cont-foot .foot-dl dl dt:nth-child(4):before,
.footer .cont-foot .foot-dl dl dd:nth-child(5)::after,
.footer .cont-foot .foot-dl dl dd:nth-child(6)::after {
  content: '|';
  display: inline-block;
  padding: 0px 7px;
}

.footer .cont-foot .foot-dl .copy-right {
  float: right;
  margin-top: -16px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */