@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

.app{
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

@mixin movie-title {
    
}
.main{
    width: 1060px;
    margin: 90px auto;
    background-color: #F2F2F2;
    box-sizing: border-box;
    border-radius: 15px;
    border: #BDBDBD 2px solid;
    .txt-h1{ 
        font-size: 24px;
        text-align: center;
        padding-top: 40px;
        font-weight: 700;
        &::after{
            content: '';
            display: block;
            width: 650px;
            height: 2px;
            background-color: #BDBDBD;
            margin: 35px auto;
        }
    }
    .cont-menu{
        display: flex;
        gap: 60px;
        justify-content: center;
        box-sizing: border-box;
        .btn-menu{
            text-decoration: none;
            color: black;
            &.now{
                color: black;
                font-weight: 700;
            }
        }
    }
    .movie-list{
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 15px;
        border: 2px solid #BDBDBD;
        margin: 27px 26px 30px 27px;
        display: flex;
        flex-wrap: wrap;
        padding: 26px 25px 30px;
        gap: 20px;
        li{
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;
            .movie-detail{
                padding: 0 20px;
                img{
                    margin-top: 19px;
                    width: 180px;
                    border-radius: 10px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    height: 250px;
                }

                .movie-title{
                    font-size: 16px;
                    margin: 11px 0 12px;
                    font-weight: 900;
                }
                dl{
                    font-size: 13px;
                    // display: flex;
                    line-height: 1.6rem;
                    margin-bottom: 18px;
                    dt{
                        color: #828282;
                        padding-right: 5px;
                        float: left;
                    }
                    dd:nth-child(4)::before{
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background-image: url(./images/star.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        vertical-align: -2px;
                        margin-right: 3px;
                    }
                    
                }
                
            }
            
            .btn-cont{
                display: flex;
                overflow: hidden;
                .movie-btn{
                    font-size: 14px;
                    width: 100%;
                    padding: 9px 24px 12px;
                    font-weight: 500;
                    background-color: #F2F2F2;
                    // border: #BDBDBD 1px solid;
                    border: none;
                    border-top: 1px solid #BDBDBD;
                    &.trailer{
                        border-left: 1px solid #BDBDBD;
                        &::before {
                            display: inline-block;
                            content: '';
                            background-image: url(./images/icon.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            width: 16px;
                            height: 16px;
                            margin-right: 2px;
                            vertical-align: -3px;
    
                        }
                    }
                    
                }
            }
        }
    }
}

.footer{
    width: 100%;
    background-color: #F2F2F2;
    .cont-foot{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .foot-hea{
            .foot-title{
                font-size: 22px;
                font-weight: 700;
                margin: 53px 0px 42px;
                display: inline-block;
                
            }
            .foot-icon{
                float: right;
                margin: 53px 0px 42px;
                img{
                    width: 22px;
                    padding-left: 20px;
                    &:nth-last-child(1){
                        margin-right: 10px;
                    }
                }
            }
            &::after{
                content: '';
                display: block;
                width: 1189px;
                height: 2px;
                background-color: #C4C4C4;
                
            }
        }
        
        .foot-dl{
            margin: 36px 0;
            overflow: hidden;
            dl{
                display: flex;
                dt{
                    font-weight: 700;
                    padding-right: 4px;
                }
                dt:nth-child(2):before,
                dt:nth-child(4):before,
                dd:nth-child(5)::after,
                dd:nth-child(6)::after{
                    content: '|';
                    display: inline-block;
                    padding: 0px 7px;
                }
            }
            .copy-right{
                float: right;
                margin-top: -16px;
                font-size: 14px;
                font-weight: 700;
                margin-right: 10px;
            }
        }
    }
}
